﻿@model IEnumerable<WebMediaPlayer.Media>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Bibliothèque</h1>
</div>

@using (Html.BeginForm())
{
    <div class="form-group custom-form">
        <div class="col-sm-3">
            <input placeholder="Recherche par titre" type="search" data-bind="value: query, valueUpdate: 'keyup'" autocomplete="off" class="form-control" />
        </div>
    </div>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th><a data-bind="click: sortByTitle">Titre</a></th>
            <th><a data-bind="click: sortByLength">Durée</a></th>
            <th><a data-bind="click: sortByDate">Mis en ligne le</a></th>
            <th><a data-bind="click: sortByFormat">Format</a></th>
            <th></th>
        </tr>
    </thead>    
    <tbody data-bind="foreach: movies">
        <tr>
            <td data-bind="text: Title"></td>
            <td data-bind="text: Length"></td>
            <td data-bind="text: moment(UploadDate).format('L')"></td>
            <td data-bind="text: Format"></td>
            <td>
                <a id="inline" data-bind="attr: {href: '#vid'+$index()}"><span class="glyphicon glyphicon-play"></span> Play</a>
                <div style="display:none">
                    <video data-bind="attr: {id: 'vid'+$index()}" width="1024" height="640" controls>
                        <source data-bind="attr: {src: url}" type="video/mp4" />
                    </video>
                </div>
            </td>
        </tr>
    </tbody>
</table>

@section Scripts
{
    <script>
        $("a#inline").fancybox();
        var movies = @Html.Raw(Json.Encode(Model));
        function MediaViewModel()
        {

            this.query = ko.observable('');
            this.movies = ko.observableArray(JSON.parse(JSON.stringify(movies)));
            this.state = "Title";

            this.sortByTitle = function() {
                if(this.stat == "Title")
                {
                    this.movies.reverse();
                    this.stat = "";
                }
                else
                {
                    this.movies.sort(function(a,b) {
                        return a.Title < b.Title ? -1 : 1;
                    });
                    this.stat = "Title";
                }
            }

            this.sortByLength = function() {
                if(this.stat == "Length")
                {
                    this.movies.reverse();
                    this.stat = "";
                }
                else
                {
                    this.movies.sort(function(a,b) {
                        return a.Length < b.Length ? -1 : 1;
                    });
                    this.stat = "Length";
                }
            }

            this.sortByDate = function() {
                if (this.stat == "Date")
                {
                    this.movies.reverse();
                    this.stat = ""
                }
                else
                {
                    this.movies.sort(function(a,b) {
                        return moment(a.UploadDate) > moment(b.UploadDate) ? -1 : 1;
                    });
                    this.stat = "Date";
                }
            }

            this.sortByFormat = function() {
                if (this.stat == "Format")
                {
                    this.movies.reverse();
                    this.stat = "";
                }
                else
                {
                    this.movies.sort(function(a,b) {
                        return a.Format < b.Format ? -1 : 1;
                    });
                    this.stat = "Format";
                }
            }

            this.search = ko.computed({
                read : function () {
                    return this.movies;
                },
                write : function (value) {
                    this.movies.removeAll();
                    for (var i in movies)
                    {
                        if (movies[i].Title.toLowerCase().indexOf(value.toLowerCase()) >= 0)
                            this.movies.push(movies[i]); 
                    }
                },
                owner : this
            });
            this.query.subscribe(this.search);
        }
        ko.applyBindings(new MediaViewModel());
    </script>
}
