﻿<!-- ko with: home -->
<div class="jumbotron">
    <h1>Bienvenue</h1>
    <p class="lead">Web MediaPlayer est un outil qui vous permet de regarder vos vidéos importés depuis votre client windows.</p>
    <p>
    @Html.ActionLink("Accéder à la bibliothèque >>", "Index", "Media", new { area = ""}, null)</p>
</div>
<!-- /ko -->
